@import '../../../../../node_modules/@angular/material/theming';
@import '../../../../mboyz-theme';

:host {
  .author {
    color: mat-color($mboyz-primary);
    font-weight: bold;
  }

  .info {
    font-size: 80%;
    color: lighten(black, 50%);
    margin-top: 2px;
  }
}
