<mat-form-field class="message-input">
  <input matInput
         (keyup.enter)="submitPost()"
         [(ngModel)]="postInput"
         placeholder="Neuer Beitrag..."/>
</mat-form-field>
<mat-list role="list">
  <mat-list-item *ngFor="let post of posts" role="listitem">
    <div class="message-container">
      <div class="body">
        <span class="author">{{post.author}}</span><span class="message"> {{post.message}}</span>
      </div>
      <div class="info">
        <span>{{post.created.format('Do MMMM')}} um {{post.created.format('LT')}}</span>
      </div>
      <div class="actions">Kommentar schreiben</div>
    </div>
  </mat-list-item>
</mat-list>
