<h3>Teilnehmer</h3>

<mat-tab-group class="participant-tabs" [dynamicHeight]="false">
  <mat-tab label="Bestätigt ({{participating.length}})">
    <mat-list>
      <mat-list-item *ngFor="let participant of participating">
        <h3 matLine> {{participant.name}} </h3>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Offen ({{invited.length}})">
    <mat-list>
      <mat-list-item *ngFor="let participant of invited">
        <h3 matLine> {{participant.name}} </h3>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Absagen ({{notParticipating.length}})">
    <mat-list>
      <mat-list-item *ngFor="let participant of notParticipating">
        <h3 matLine> {{participant.name}} </h3>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>




