@import '../../../../../node_modules/@angular/material/theming';
@import '../../../../mboyz-theme';

:host {
  .user-icon {
    background-color: mat-color($mboyz-primary);
    background-size: 40px;
  }
}
