<button
  class="add-holiday"
  mat-fab
  (click)="gotoCreate()">
  <mat-icon>add</mat-icon>
</button>


<mat-list role="list">
  <span *ngFor="let holiday of holidays$ | async">
    <mat-list-item role="listitem" class="holiday-item" (click)="goToDetail(holiday.id)">
      <span class="holiday-name">{{holiday.name}}</span>
      <span class="created-text">Erzeugt am {{formatDate(holiday.created)}} um {{formatTime(holiday.created)}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </span>
</mat-list>
