version: 2
jobs:
  npm-cache:
    docker:
      - image: circleci/node:9.11.1

    working_directory: ~/mboyz
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install local dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  lint:
    docker:
      - image: circleci/node:9.11.1

    working_directory: ~/mboyz
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Lint
          command: npm run lint

  test:
    docker:
      - image: circleci/node:9.11.1-browsers

    working_directory: ~/mboyz
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Test
          command: npm run test-ci

  deploy-staging:
    docker:
      - image: circleci/node:9.11.1

    working_directory: ~/mboyz
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: build
          command: npm run build-staging

      - run:
          name: deploy
          command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_DEPLOY_TOKEN --project=staging

  deploy-prod:
    docker:
      - image: circleci/node:9.11.1

    working_directory: ~/mboyz
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: build
          command: npm run build-prod

      - run:
          name: deploy
          command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_DEPLOY_TOKEN --project=prod


workflows:
  version: 2
  build_mboyz:
    jobs:
      - npm-cache
      - lint:
          requires:
            - npm-cache
      - test:
          requires:
            - npm-cache
      - deploy-staging:
          requires:
            - lint
            - test
      - deploy-prod:
          requires:
            - deploy-staging
