version: 2
jobs:
  npm-cache:
    docker:
      - image: circleci/node:7.10-browsers

    working_directory: ~/mboyz
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install local dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  lint:
    docker:
      - image: circleci/node:7.10-browsers

    working_directory: ~/mboyz
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Lint
          command: npm run lint

workflows:
  version: 2
  build_mboyz:
    jobs:
      - npm-cache
      - lint:
          requires:
            - npm-cache
