@import '~@angular/material/theming';
@import '../../../mboyz-theme.scss';

:host {
  display: block;
  background-color: white;
  padding: 8px;

  mat-list-item {
    height: auto;
  }

  mat-form-field {
    width: 100%;
  }

  .author {
    color: mat-color($mboyz-primary);
    font-weight: bold;
    margin-right: 6px;
  }

  .message {
    color: black;
  }

  .message-container {
    padding: 5px;
    width: 100%;
    background-color: mat-color($mboyz-accent, 50);
    flex-direction: column;
  }

  .info {
    font-size: 80%;
    color: lighten(black, 50%);
    margin-top: 2px;
  }
}
