@import '~@angular/material/theming';
@import '../../../mboyz-theme.scss';

:host {
  display: block;
  width: 600px;
  background-color: white;

  mat-list-item {
    height: auto;
  }

  mat-form-field {
    width: 100%;
  }
}
