<h3>Nachrichten</h3>
<mat-list role="list">
  <mat-list-item role="listitem">
    Hütte ist gebucht :-*
    Port du Soleil 17.3. bis 24.3.18
  </mat-list-item>
  <mat-list-item role="listitem">was haltet ihr davon, wenn wir eine deadline setzen für die Entscheidung, damit wir
    buchen können? Sarah wie schauts mit den Omas aus? Sind da welche sicher dabei?
  </mat-list-item>
  <mat-list-item role="listitem">So Indra hat mir eben auch fest zugesagt. Sie muss auch nur noch Urlaub einreichen,
    aber das sollte kein Problem sein sagt sie. Laura versucht sich die Woche frei zu schaufeln. Damit wären wir: Axel,
    Benni, Basti, Paula, Sarah, Indra mit sehr wahrscheinlichen vllt. für Silvi, Parick, Laura und Jens ;)
  </mat-list-item>
</mat-list>
<mat-form-field>
  <textarea matInput placeholder="Nachricht schreiben..." matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5"></textarea>
</mat-form-field>
