<mat-list role="list">
  <mat-list-item *ngFor="let message of messages" role="listitem">
    <div class="message-container">
      <div class="body">
        <span class="author">{{message.author}}</span><span class="message"> {{message.message}}</span>
      </div>
      <div class="info">
        <span>12. Dezember um 21:43</span>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<mat-form-field>
  <input matInput
         #messageIn
         (keyup.enter)="postMessage(messageIn.value)"
         placeholder="Nachricht schreiben..."/>
</mat-form-field>

