<mat-list role="list">
  <mat-list-item *ngFor="let message of messages" role="listitem">
    <div class="message-container">
      <div class="body">
        <span class="author">{{message.author}}</span><span class="message"> {{message.message}}</span>
      </div>
      <div class="info">
        <span>{{message.created.format('Do MMMM')}} um {{message.created.format('LT')}}</span>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<mat-form-field>
  <input matInput
         (keyup.enter)="postMessage()"
         [(ngModel)]="messageInput"
         placeholder="Nachricht schreiben..."/>
</mat-form-field>

