@import '~@angular/material/theming';
@import '../../../../mboyz-theme.scss';

:host {

  .padded {
    padding: 5px;
  }

  .button-fb {
    width: 100%;
    background-color: $fb-blue;
    color: $fb-white;
  }
}
