<button
  class="add-holiday"
  mat-fab
  routerLink="/holiday/create">
  <mat-icon>add</mat-icon>
</button>


<mat-list role="list">
  <span *ngFor="let holiday of holidays$ | async">
    <mat-list-item role="listitem" (click)="goToDetail(holiday.id)">
      <div class="holiday-item">
      <div>
        <span class="holiday-name">{{holiday.name}}</span>
      </div>

      <div>
        <span class="created-text">Erzeugt am {{formatDate(holiday.created)}} um {{formatTime(holiday.created)}}</span>
      </div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </span>
</mat-list>
