<div class="comments-container">
  <div class="comment" *ngFor="let comment of post.comments">
      <div class="comment-body">
        <span class="author">{{comment.author}}</span>
        <span class="message">{{comment.comment}}</span>
      </div>
      <div class="info">
        <span class="created-text">{{comment.created.format('Do MMMM')}} um {{comment.created.format('LT')}}</span>
      </div>
  </div>
</div>
<div class="comment-input">
  <mat-form-field>
  <textarea matInput
            matTextareaAutosize
            placeholder="Kommentieren ..."></textarea>
  </mat-form-field>
</div>
