/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
@import 'mboyz-theme.scss';

html, body {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.mb-warn {
  color: mat-color($mboyz-warn);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
