@import '~@angular/material/theming';
@import '../../../../mboyz-theme.scss';

:host {
  display: block;
  background-color: lighten(mat-color($mboyz-primary, 300), 25%);

  .comment {
    margin-top: 2px;
    font-size: 90%;

    .message-container {
      width: 100%;
      flex-direction: column;
      padding: 1%;

      .message {
        color: black;
      }

      .author {
        color: mat-color($mboyz-primary);
        font-weight: bold;
      }
    }

    .info {
      font-size: 80%;
      color: lighten(black, 50%);
      margin-top: 2px;
    }
  }

  .comment-input {
    margin-top: 5px;
    background-color: lighten(mat-color($mboyz-primary, 300), 30%);
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;

    mat-form-field {
      width: 100%;
      label.mat-form-field-label {
        font-size: 80%;
      }
    }
  }
}
