@import '~@angular/material/theming';
@import '../../../../mboyz-theme.scss';

:host {
  display: block;
  background-color: lighten(mat-color($mboyz-accent, 100), 5%);

  mat-list-item {
    font-size: 90%;

    .message-container {
      width: 100%;
      flex-direction: column;

      .message {
        color: black;
      }

      .author {
        color: mat-color($mboyz-primary);
        font-weight: bold;
        margin-right: 3px;
      }
    }

    .info {
      font-size: 80%;
      color: lighten(black, 50%);
      margin-top: 2px;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .message-input {
    margin-top: 5px;
  }
}
