@import '~@angular/material/theming';
@import '../../../../mboyz-theme.scss';

:host {

  //.message {
  //  font-size: 90%;
  //  color: black;
  //}
  //
  //.author {
  //  font-size: 90%;
  //  color: mat-color($mboyz-primary);
  //  font-weight: bold;
  //  margin-right: 3px;
  //}

  mat-list-item {
    background-color: mat-color($mboyz-accent, 100);
    border-bottom: 1px solid mat-color($mboyz-primary);
    font-size: 90%;

    .message-container {
      width: 100%;
      flex-direction: column;

      .message {
        color: black;
      }

      .author {
        color: mat-color($mboyz-primary);
        font-weight: bold;
        margin-right: 3px;
      }
    }

    .info {
      font-size: 80%;
      color: lighten(black, 50%);
      margin-top: 2px;
    }
  }


  mat-form-field {
    width: 100%;
  }

  .message-input {
    margin-top: 5px;
  }
}
