<mat-list role="list">
  <mat-list-item class="responsive-height" *ngFor="let comment of post.comments" role="listitem">
    <div class="message-container">
      <div class="body">
        <span class="author">{{comment.author}}</span><span class="message"> {{comment.comment}}</span>
      </div>
      <div class="info">
        <span>{{comment.created.format('Do MMMM')}} um {{comment.created.format('LT')}}</span>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<mat-form-field class="message-input">
  <textarea matInput
            placeholder="Kommentieren ..."></textarea>
</mat-form-field>
